<div id="container1">
  <app-browser (browser)="browse($event)"></app-browser>
  <app-sort (sortBy)="sort($event)"></app-sort>
</div>
<div id="container2" *ngIf="recipes | async as recipes; else nolist">
  <div class="tiles">
    <a
      class="tile"
      *ngFor="let item of recipes"
      [routerLink]="['/recipes', item.id]"
    >
      <div>{{ item.name }}</div>
      <div>
        <span> {{ "🍔".repeat(item.rating) }}</span>
      </div>
    </a>
  </div>
</div>
<ng-template #nolist>...loading</ng-template>
