<form [formGroup]="form" (ngSubmit)="post()" autocomplete="off">
  <label>Nazwa przepisu</label>
  <div>
    <input formControlName="name" type="text" placeholder="np. Pizza" />
  </div>

  <label>Składniki</label>
  <div formArrayName="ingredients">
    <div *ngFor="let ingredient of ingredientsControls; let index = index">
      <div [formGroup]="ingredient">
        <input
          formControlName="name"
          class="smallInput"
          type="text"
          placeholder="np. Mąka"
        />
        <input
          formControlName="value"
          class="smallInput"
          type="text"
          placeholder="np. 1 szklanka"
        />
        <button (click)="removeItem(ingredientsFormArray, index)" type="button">
          Usuń
        </button>
      </div>
    </div>
  </div>
  <button type="button" (click)="addIngredient()">Dodaj składnik</button>

  <div>
    <label>Sposób przygotowania</label>
    <div formArrayName="description">
      <div *ngFor="let description of descriptionControls; let index = index">
        {{ index + 1 }}
        <input
          [formControlName]="index"
          type="text"
          placeholder="np. Wyrób ciasto"
        />
        <button (click)="removeItem(descriptionFormArray, index)" type="button">
          Usuń
        </button>
      </div>
    </div>
    <button type="button" (click)="addDescription()">Dodaj krok</button>
  </div>
  <label>Ocena</label>
  <div>
    <input type="number" formControlName="rating" />
  </div>
  <button type="submit" [disabled]="form.invalid">Dodaj przepis</button>
  <button type="reset">Wyczyść formularz</button>
</form>
