:host {
  padding: 20px;
}
button,
input {
  margin: 5px;
}
input {
  width: 300px;
}
.smallInput {
  width: 100px;
}
.ng-invalid.ng-touched:not(form) {
  border: 2px solid red;
  border-radius: 4px;
}
p {
  color: red;
  font-size: 12px;
}
