<div *ngIf="selectedRecipe | async as selectedRecipe; else norecipe">
  <h2>{{ selectedRecipe.name | uppercase }}</h2>
  <h3>Składniki:</h3>
  <ul>
    <li *ngFor="let ingredient of selectedRecipe.ingredients; let i = index">
      {{ selectedRecipe.ingredients[i].name }} -
      {{ selectedRecipe.ingredients[i].value }}
    </li>
  </ul>
  <h3>Sposób przygotowania:</h3>
  <ul>
    <li *ngFor="let step of selectedRecipe.description; let i = index">
      {{ selectedRecipe.description[i] }}
    </li>
  </ul>
</div>
<ng-template #norecipe><div>Wybierz przepis</div></ng-template>
